.main-container {
  animation: ease-in-out 0.3s showIn forwards;
  position: relative;
}

@keyframes showIn {
  0% {
    transform: translate(0, 5%);
    filter: opacity(0);
  }
  100% {
    transform: translate(0, 0);
    filter: opacity(1);
  }
}
